.container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

figure.floatright {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
}

figure.floatleft {
	float: left;
	padding: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
	;border: 2px solid #ebebeb;
}